.layout__container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: #F5F6FA;
    display: grid;
}
.barsL-on {
    display: grid;
    grid-template-columns: 60px 1fr;
}
.barsL-off {
    display: grid;
    grid-template-columns: 301px 1fr;
}
.layout__container-main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}